/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    /*font-family: 'Oswald', sans-serif;*/

/* normalize */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden
}

body{
    font-family: $font-principal;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: $font-principal;
    color:$color-white;
}
