/*Colores*/
$color-white: #ffffff;
$color-black: #000000;

/*Images*/
$foto-logo: 5rem;
$foto-index: 20rem;
$foto-ramas: 20rem;
$width-foto-skills: 8rem;
$height-foto-skills: 25rem;
$width-foto-mejoresAtletas: 17rem;
$height-foto-mejoresAtletas: 20rem;

/*font-family*/
$font-principal: 'Oswald', sans-serif;

/*Font-sizes*/
$text-xs: 1.2rem;
$text-s: 1.4rem;
$text-l: 1.8rem;
$text-xl: 2.3rem;
$text-xxl: 3rem;
