footer {
    background-color: map-get($map: $colors, $key: 'black');
    color: map-get($map: $colors, $key: 'white');
    padding: 1rem 0;
    .linkRedes:hover {
            color: map-get($map: $colors, $key: 'white');
        }
    }