/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    /*font-family: 'Oswald', sans-serif;*/

/* normalize */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden
}

/*navbar*/
.logo {
    width: 5rem;
    height: 5rem;
}

.fondo {
    background-color: #000000;
}

.color {
    color: #ffffff;
}

/*index*/
.imgInicio {
    width: 20rem;
    height: 20rem;
    margin-bottom: 5rem ;
    margin-top: 2rem;
}

.titulo {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.parrafoIndex {
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
}

/*footer*/
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 0;
}

.linkRedes {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    color: #ffffff;
}

/*ramas*/
.titulosRamas {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

.fotoRamas {
    width: 20rem;
    height: 20rem;
    margin-bottom: 0.5rem;
}

.containerRamas {
    margin: 1rem 0 2rem 0;
}

.textoRamas {
    font-size: 1.3rem;
    margin: 0 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif;

}

/*skills*/

.fotoSkills {
    width: 8rem;
    height: 25rem;
    padding: 1rem 5rem;
}
.tituloSkills {
    font-size: 1.8rem;
    margin: 1rem 3rem;
    font-family: 'Oswald', sans-serif;
}

.skill {
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0.5rem 2rem;
}

.textoProgresion {
    background-color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
}

/*mejores atletas*/
.fotoMejorAtleta {
    width: 17rem;
    height: 20rem;
}

.nombreAtleta {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

.atleta {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

.containerAtleta {
    margin-bottom: 3rem;
}

/*consejos*/
.titulo {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
}

.subTitulo {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem
}

.consejo {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

.intro {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.containerIntro {
    margin: 1rem 3.5rem 2rem 3.5rem;
}

.containerConsejo {
    margin: 0 6rem 2.5rem 6rem;
    border: #808080 solid;
}
