/*variables*/
/*Colores*/
/*Images*/
/*font-family*/
/*Font-sizes*/
/*normalize*/
/*fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/*font-family: 'Oswald', sans-serif;*/
/* normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100vh; }

.container-fluid {
  overflow: hidden; }

body {
  font-family: "Oswald", sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #ffffff; }

img {
  width: 100%; }

/*mixins*/
/*header*/
header {
  background-color: #000000;
  color: #ffffff; }
  header .logo {
    width: 5rem;
    height: 5rem; }

/*footer*/
footer {
  color: #ffffff;
  width: 100%;
  background-color: #000000; }
  footer .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-top: 45px;
    margin-top: 1rem; }
  footer figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  footer img {
    width: 8rem;
    height: 8rem; }
  footer h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem; }
  footer p {
    font-size: 1.2rem;
    color: #efefef; }
  footer a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    transition: all 300ms ease; }
    footer a:hover {
      color: #007bff; }
  footer .grupo-2 {
    margin-bottom: 2rem;
    padding: 15px 0px; }
    footer .grupo-2 small {
      font-size: 1.2rem; }

@media screen and (max-width: 800px) {
  footer .grupo-1 {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding-top: 35px; } }

/*index*/
.imgInicio {
  width: 20rem;
  height: 20rem;
  margin-top: 2rem;
  margin-bottom: 5rem; }

.titulo {
  font-size: 3rem; }

.parrafoIndex {
  font-size: 1.2rem; }

.formulario {
  position: relative;
  color: #ffffff;
  background-color: #000000;
  width: 30rem;
  padding: 2rem;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 7px 13px 37px #000000; }
  .formulario h4 {
    font-size: 1.4rem;
    margin-bottom: 1.8rem; }
  .formulario .casillaForm {
    padding: 0.8rem;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 1rem; }
  .formulario .boton {
    position: relative; }
  @media screen and (min-width: 1200px) {
    .formulario {
      width: 50rem; } }
  @media screen and (min-width: 992px) {
    .formulario {
      width: 40rem; } }
  @media screen and (min-width: 576px) {
    .formulario {
      width: 30rem; } }
  @media screen and (max-width: 576px) {
    .formulario {
      width: 20rem; } }

/*ramas*/
.containerRamas {
  margin: 1rem 0 2rem 0; }
  .containerRamas .titulosRamas {
    font-size: 1.8rem; }
  .containerRamas .fotoRamas {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 20rem;
    height: 20rem; }
  .containerRamas .textoRamas {
    font-size: 1.4rem;
    margin: 0 2.5rem;
    margin-bottom: 1rem; }

/*skills*/
.tituloSkills {
  font-size: 2.3rem;
  margin: 1rem 3rem; }

.skill {
  background-color: #000000;
  color: #ffffff;
  margin: 0.5rem 2rem; }

.textoProgresion {
  background-color: #000000;
  font-size: 1.4rem; }

.fotoSkills {
  padding: 1rem 5rem;
  width: 100%;
  height: auto; }

.containerProgresion {
  margin: 0 1rem; }

/*mejores atletas*/
.caja1, .caja2 {
  box-shadow: 0 15px 25px #000;
  border-radius: 0px 20px 20px 0;
  border: 12px solid #664200;
  padding: 1rem 0;
  margin: 3rem 0;
  background-color: #000;
  color: #fff; }
  .caja1 .fotoMejorAtleta, .caja2 .fotoMejorAtleta {
    width: 15rem;
    height: 20rem;
    object-fit: cover; }
    .caja1 .fotoMejorAtleta .containerContenido h2, .caja2 .fotoMejorAtleta .containerContenido h2 {
      font-size: 5rem; }
    .caja1 .fotoMejorAtleta .containerContenido p, .caja2 .fotoMejorAtleta .containerContenido p {
      display: inline-block;
      font-size: 5rem;
      padding: 0 5rem; }

.caja2 {
  border-radius: 20px 0px 0px 20px; }

.containerAtleta {
  margin-bottom: 3rem; }
  .containerAtleta .nombreAtleta {
    font-size: 3rem; }
  .containerAtleta .fotoMejorAtleta {
    width: 15rem;
    height: 20rem; }
  .containerAtleta .atleta {
    font-size: 1.2rem; }

@media screen and (max-width: 992px) {
  .caja1, .caja2 {
    border-radius: 0px 0px 15px 15px;
    border: 8px solid #b5b5b5;
    padding: 1rem 0;
    margin: 1rem 0; } }

/*consejos*/
.containerIntro {
  margin: 1rem 3.5rem 2rem 3.5rem; }
  .containerIntro .titulo {
    font-size: 2.3rem; }
  .containerIntro .intro {
    font-size: 1.8rem; }

.card {
  margin: 3rem 10rem 1rem 10rem; }
  .card .card-header {
    background-color: #b5b5b5; }
  .card .tituloCard {
    color: #000000;
    font-size: 1.8rem; }
  .card .contenidoCard {
    font-size: 1.4rem; }

.fotoConsejo {
  width: 20rem;
  height: 20rem; }

@media screen and (max-width: 992px) {
  .card {
    margin: 1rem 1rem 2rem 1rem; } }
