.containerIntro {
    margin: 1rem 3.5rem 2rem 3.5rem;
    .titulo {
        font-size: $text-xl;
    }
    .intro {
        font-size: $text-l;
    }
}
.card {
    margin: 3rem 10rem 1rem 10rem;
    .card-header {
        background-color: #b5b5b5;
    }
    .tituloCard {
        color: map-get($map: $colors, $key: 'black');
        font-size: $text-l;
    }
    .contenidoCard {
        font-size: $text-s;
    }
}
.fotoConsejo {
    width: 20rem;
    height: 20rem;
}
@media screen and (max-width: 992px) {
    .card {
        margin: 1rem 1rem 2rem 1rem;
    }
}