.tituloSkill {
    font-size: $text-l;
    margin: 1rem 3rem;
}
.skill {
    background-color: map-get($map: $colors, $key: 'black' );
    color: map-get($map: $colors, $key: 'white');
    margin: 0.5rem 2rem;
}
.textoProgresion {
    background-color: map-get($map: $colors, $key: 'black' );
    font-size: $text-s;
}
.fotoSkills {
    @include tamañoImg (8rem, 25rem);
    padding: 1rem 5rem;
}